@import "mixins";
@import "variables";

.slider {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.7s ease 0s;
}

.slide-from-right {
  @include animation(slide-right 0.5s forwards, 0s)
}

.slide-from-left {
  @include animation(slide-left 0.5s forwards, 0s)
}

@include keyframes(slide-left) {
  100% {
    right: 0;
  }
}

@include keyframes(slide-right) {

  0% {
    right: 0;
  }

  100% {
    right: -$settingSize;
  }
}
