@import "variables";

@mixin block($method-color) {
  float: left;
  margin-top: -5px;
  padding-top: 8px;
  line-height: 15px;
  max-width: 90px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  height: 22px;
  color: white;
  width: 100%;
  background-color: $method-color;
  text-transform: uppercase;
  vertical-align: middle;
}

._all {
  @include block($allColor)
}

.acl {
  @include block($defaultColor)
}

.bind {
  @include block($defaultColor)
}

.checkout {
  @include block($defaultColor)
}

.connect {
  @include block($defaultColor)
}

.copy {
  @include block($defaultColor)
}

.delete {
  @include block($deleteColor)
}

.get {
  @include block($getColor)
}

.head {
  @include block($headColor)
}

.link {
  @include block($defaultColor)
}

.lock {
  @include block($defaultColor)
}

.m-search {
  @include block($defaultColor)
}

.merge {
  @include block($defaultColor)
}

.mkactivity {
  @include block($defaultColor)
}

.mkcalendar {
  @include block($defaultColor)
}

.mkcol {
  @include block($defaultColor)
}

.move {
  @include block($defaultColor)
}

.notify {
  @include block($defaultColor)
}

.options {
  @include block($defaultColor)
}

.patch {
  @include block($patchColor)
}

.post {
  @include block($postColor)
}

.propfind {
  @include block($defaultColor)
}

.proppatch {
  @include block($defaultColor)
}

.purge {
  @include block($defaultColor)
}

.put {
  @include block($putColor)
}

.rebind {
  @include block($defaultColor)
}

.report {
  @include block($defaultColor)
}

.search {
  @include block($defaultColor)
}

.subscribe {
  @include block($defaultColor)
}

.trace {
  @include block($defaultColor)
}

.unbind {
  @include block($defaultColor)
}

.unlink {
  @include block($defaultColor)
}

.unlock {
  @include block($defaultColor)
}

.unsubscribe {
  @include block($defaultColor)
}
