<section class="responseSect slide-up" id='<%= (route + "/" + method + "-response") %>'>
    <h3>Response</h3>
    <div class="pure-g">
        <section class="pure-u-1-3 infoSect">
            <h4>Info</h4>
            <ul>
                <li>URL:'test/url'</li>
                <li>Status Code:200</li>
                <li>Time:300 ms</li>
            </ul>
        </section>
        <section class="pure-u-1-3">
            <h4>Header</h4>
            <textarea></textarea>
        </section>
        <section class="pure-u-1-3">
            <h4>Body</h4>
            <textarea></textarea>
        </section>
    </div>
</section>