@import "../shared/variables";
@import "../shared/methodColors";

.method-route{
  font-size: 17px;
  margin-left: 10px;
}

.right {
  position: absolute;
  right: 1%;
  padding-top: 3px;
  font-size: 13px;
}

@media(max-width: 767px) {
  .right {
    display: none;
  }
}



