@import "../shared/variables";

.panel {

  h3 {
    color: $responseHeadersColor;
  }

  .bodyInput {
    width: 50%;
    height: 100px;
  }

  .sendBtn {
    width: 20%;
    margin: 2% 40%;
  }

  .closer {
    margin-bottom: 0;
  }

  .loadingText {
    display: none;
    font-size: 14px;
  }

  .paramsInput {
    margin-top: 1%;
  }

  .queryInput{
    width: 40%;
  }

}

@media(max-width: 767px) {

  .panel {
    overflow-x: hidden;

    .sendBtn {
      width: 30%;
    }

    input {
      max-width: 120px !important;
    }
  }

}


