@import "../shared/variables";

.responseSect {
  h4 {
    text-align: left;
    color: $responseHeadersColor;
    margin: 1.5%;
  }
}

.jsonViewer {
  background-color: wheat;
  overflow-y: scroll;
  text-align: left !important;
  max-height: 100px;
  margin: 0 1%;
  padding: 10px;
  font-size: 13px;
}


