<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Express Explorer</title>
  <meta name="description" content="Express explorer">
  <meta name="author" content="Soluzioni Futura">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="styles.min.css">

</head>

<body>

<%- include ./components/header.ejs %>
<%- include ./components/explorer.ejs %>
<%- include ./components/footer.ejs %>

<script src="scripts.min.js"></script>

</body>
</html>
