<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>express-explorer</title>
  <meta name="description" content="Express explorer">
  <meta name="author" content="Soluzioni Futura">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <h1>TO DO!</h1>
  <ul>
    <% Object.keys(routes).forEach(route => { %>
      <li>
        <%=route%>
        <ul>
          <% Object.keys(routes[route]).forEach( method => { %>
            <li><%= method %></li>
          <% }) %>
        </ul>
      </li>
    <% }) %>
    </ul>
  <script src="js/scripts.js"></script>
</body>
</html>
