<nav class="pure-menu pure-menu-horizontal">
  <p class="pure-menu-heading pure-menu-link">Express Explorer</p>
  <ul class="pure-menu-list">
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
      <p href="#" id="menuLink1" class="pure-menu-link">Settings</p>
    </li>
  </ul>
</nav>
