<section class="responseSect slider" id='<%= (route + "/" + method + "-response") %>'>
  <h3>Response</h3>
  <div class="pure-g">
    <section class="pure-u-1-3">
      <h4>Info</h4>
      <div class="jsonViewer" id='<%= (route + "/" + method + "-response-info") %>'></div>
    </section>
    <section class="pure-u-1-3">
      <h4>Header</h4>
      <div class="jsonViewer" id='<%= (route + "/" + method + "-response-header") %>'></div>
    </section>
    <section class="pure-u-1-3">
      <h4>Body</h4>
      <div class="jsonViewer" id='<%= (route + "/" + method + "-response-body") %>'></div>
    </section>
  </div>
</section>
