<span>Response Content-Type: </span>
<select class="selector" name="responseContentType">
  <option value="application/json">application/json</option>
  <option value="application/javascript">application/javascript</option>
  <option value="text/javascript">text/javascript</option>
</select>

