<section class="settings-panel" id="settingsPanel">
  <h2>Settings</h2>
  <p class="close-panel" onclick="Lib.default.closeSettings('settingsPanel')">X</p>
  <h3>Default Headers</h3>
</section>

<img class="settings-trigger" id="settingsTrigger"
     onclick="Lib.default.openSettings('settingsPanel')"
     src="http://www.clker.com/cliparts/Z/n/k/Z/y/j/left-arrow-gray-hi.png"/>
